header {
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #cecece;
}

.container {
  width: 970px;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 51px;
}

ul {
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

li {
	padding: 5px;
}