* {
	border: 1px solid !important;
}



header {
	font-family: sans-serif;
	font-weight: 500;
	box-shadow: 0 0 2px #cecece;
}

.container {
	max-width: 1020px;
	margin: 0 auto;
}

main .container {
	max-width: 670px;
	padding: 15px;
	text-align: center;
	font-family: sans-serif;
}

.flex {
	display: flex;
	justify-content: space-between;
}

a {
	text-decoration: none;
	color: #8c989e;
}

h1 {
	padding: 20px 0;
	font-size: 24px;
	font-weight: 600;
}

h1, ul#first-level li:last-child a {
	color: #5fcf80;
}

ul {
	display: flex;
}

ul li {
	position: relative;
}

ul li a {
	padding: 25px 25px;
	display: block;
}

ul li a:hover {
	background-color: #5fcf80;
	color: #fefefe;
}

ul li:hover ul {
	max-height: 500px;
}

ul li ul {
	position: absolute;
	flex-direction: column;
	max-height: 0;
	overflow: hidden;
	transition: all .5s linear .1s;
}

ul li ul li a {
	background-color: #5fcf80;
	color: #fefefe;
}

h3 {
	font-size: 25px;
	font-weight: bold;
	padding: 20px;
}

.one-third h3 {
	font-size: 20px;
}

p.lead {
	font-size: 18px;
	font-weight: 100;
	padding-bottom: 20px;
	color: #999;
}

p {
	color: #999;
	font-size: 14px;
}

.row {
	display: flex;
	justify-content: space-between;
}

.one-third {
	flex-basis: 30%;
}

@media (max-width:768px) {
	.flex, ul {
		flex-direction: column;
	}

	.flex {
		text-align: center;
	}

	h1, li {
		box-shadow: 0 0 2px #cecece;
	}
}