header {
	font-family: sans-serif;
	font-weight: 500;
	box-shadow: 0 0 2px #cecece;
}

.container {
	max-width: 1020px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

a {
	text-decoration: none;
	color: #8c989e;
}

h1 {
	padding: 20px 0;
	font-size: 24px;
	font-weight: 600;
}

h1, ul li:last-child a {
	color: #5fcf80;
}

ul {
	display: flex;
}

ul li a {
	padding: 25px 25px;
	display: block;
}

ul li a:hover {
	background-color: #5fcf80;
	color: #fefefe;
}

@media (max-width:768px) {
	.container, ul {
		flex-direction: column;
	}

	.container {
		text-align: center;
	}

	h1, li {
		box-shadow: 0 0 2px #cecece;
	}
}